

h1{
    text-decoration: solid; color: black;
    
}
h2{
    float: left;
        border-radius: 5px;
        width: 150px;
        height: 150px;
        border: solid black;
        background-color: darkolivegreen;
    }

h3{
    float: right;
        border-radius: 5px;
        width: 150px;
        height: 150px;
        border: solid black;
        background-color: darkolivegreen;
    }
